body, html {
    font-family: Helvetica, sans-serif;
    background-color: #1D1C1A;
}

h1 {
    padding-bottom: 1vw;
    border-bottom: 1px solid #fff;
    width: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.yellow {
    color: yellow;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    background-color: #333;
    padding: 2vw;
    color: #fff;
    border-radius: 10px;

    input {
        margin-bottom: 2vw;
        padding: 1vw;
        font-size: 120%;
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
    }

    input:focus, select:focus {
        outline: none;
    }

    label {
        font-size: 150%;
        cursor: pointer;
    }

    select {
        font-size: 150%;
        margin-bottom: 2vw;
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #submit-button {
        margin-top: 5vw;
        font-size: 200%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        background-color: #333;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
    }
}

#bug-form {
    margin: 2vw;
}

#table-container {

    padding-top: 5vw; 
    margin: 2vw;

    h1 {
        color: #fff;
    }

    table {
        text-align: left;
        float: left;
        width: 100%;
        font-size: 120%;
        margin-bottom: 5vw;
        color: #fff;
        border: 1px solid #fff;
        padding: 2vw;

        td {
            width: 100%;
        }

        td:nth-child(1) {
            cursor: pointer;
        }
    }
}
