body, html {
    font-family: Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;

    input {
        margin-bottom: 2vw;
        font-size: 120%;
    }
}

#bug-form {
    margin: 5vw;
}

select {
    font-size: 150%;
    margin-bottom: 2vw;
}

table {
    text-align: left;
    float: right;
    font-size: 150%;
    margin-bottom: 5vw;
    margin-right: 10vw;
}

#submit-button {
    margin-top: 0vw;
    font-size: 150%;
}